<div class="bg-gray-200 w-full flex justify-center ">

    <div class="flex justify-between h-[80px] max-w-full w-[1190px]  items-center px-10 lg:px-0">
        <div class="flex items-center space-x-10 sm:justify-between sm:w-full">
           <a routerLink="/"> <img class="w-[200px] rounded-full" src="../../../assets/img/logo/logo-light.png" alt=""></a>
            <div>
                <ul class="text-base font-semibold text-gray-600 hidden lg:flex">
                    <li class="cursor-pointer py-2 px-4"  routerLink="/recipes" routerLinkActive="active-link" *ngIf="isAuth">Recipes</li>
                    <li class="cursor-pointer py-2 px-4"  routerLink="/auth" routerLinkActive="active-link" *ngIf="!isAuth">Log-in / Sign-up</li>
                    <li class="cursor-pointer py-2 px-4"  routerLink="/shopping-list" routerLinkActive="active-link" >Shopping List</li>
                </ul>
            </div>  
        </div>
        <div class="flex-none flex items-center sm:space-x-4" *ngIf="isAuth">
            <ul  class="flex text-base font-semibold text-gray-600">
                <li class="cursor-pointer py-2 px-4" (click)="onLogOut()" routerLinkActive="active-link" >Log-out</li>
            </ul>
            <div class="dropdown hidden sm:block">
                <label tabindex="0" class="btn m-1">Manage <i class="ph ph-caret-up rotate-180"></i></label>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                  <li (click)="onSendRecipes()"><a >Save Data</a></li>
                  <li (click)="onFatchRecipes()"><a >Fatch Data</a></li>
                </ul>
              </div>   
        </div>
    </div>
</div>
