<div class="flex flex-col lg:flex-row gap-y-10 lg:pay-y-0 lg:gap-x-10 p-0 lg:p-10 ">
    <div class="flex-none w-full lg:w-1/2 shadow-2xl min-h-[400px] rounded-2xl ">
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="flex-none w-full lg:w-1/2 shadow-2xl min-h-[400px] rounded-2xl">
        <!-- <div *ngIf="!emitedRecipe"  class="p-5">
            <p class="text-red text-base-300 font-semibold">There Is No Item Detail Yet</p>
        </div>
        <app-recipe-detail [item]="emitedRecipe" *ngIf="emitedRecipe" ></app-recipe-detail> -->
        <router-outlet></router-outlet>
    </div>
</div>
