<div class="w-full flex flex-col-reverse sm:flex-row p-5 justify-between ">
  <div class="flex-none  sm:w-2/3 w-full">
    <h1 class="sm:text-xl text-base font-bold py-3 sm:px-8 px-6">Recipe Detail</h1> 
    <div class="dropdown px-4 py-3" >
        <label tabindex="0" class="btn m-1">Manage Recipes</label>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
          <li (click)="addToShopping()"><a>To shopping List</a></li>
          <li (click)="onEditRecipes()"><a>Edit Recipe</a></li>
          <li (click)="onDeleteRecipes()"><a>Delete Recipe</a></li>
        </ul>
      </div>

      <div class="w-full px-5 py-3 text-sm sm:text-base"  id="scrollItem">
        <span class="sm:text-base text-sm font-bold">Description: </span> {{item.description}}  
      </div>
      <div class="w-full px-5 py-3">
        <span class="sm:text-base font-bold text-sm">Ingredients: </span>
       <ul class="flex gap-x-4 gap-y-4 py-5 flex-wrap">
        <li  *ngFor="let ingredient of item.ingredient" class="shadow sm:p-5 p-4 max-w-fit rounded-2xl sm:text-sm text-xs  font-semibold ">
          {{ingredient.name}} - {{ingredient.amount}}
        </li>
       </ul>
      </div>
  </div>
  <div class="max-w-full  h-full mask mask-squircle sm:w-1/3 w-full">
    <img class=" object-cover sm:w-[250px] w-full" [src]="item.pathImg"> 
 </div>
</div>
